.SurahText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-left: 41%;
  flex-direction: column;
  text-align: right;
}
body {
  background-color: rgba(46, 148, 46, 0.719);
}
.c1 {
  background-color: rgba(255, 255, 255, 0.37);
  border: 3px solid green;
}
.c1:hover {
  background-color: green;
  color: lightgreen;
  border-radius: 2%;
  transition: 0.9s;
}
blockquote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
